<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row d-flex align-item-center">
				<div class="col-5 mt-5">
					<img src="/images/Nileshimg.jpeg" class="rounded-circle"
						style="height: 380px; border:5px solid black">
				</div>
				<div class="col-6 mt-5">
					<h3 style="color: black;">About Me</h3>
					<p style="color: black;">
						<span class="fw-bold">Hi, I'm Nilesh Bakade </span>a passionate
						about java developer with a focus on creating user-friendly web
						applications. I built this quiz app as part of my learning journey
						to enhance<span class="fw-bold"> my skills in Core Java,
						Spring boot, Spring MVC, Spring data JPA Spring security,
					    Thymeleaf, SQL, HTML, CSS and Bootstrap. </span> This app is designed to help users test
						their knowledge in various subjects, track their scores, and
						improve through fun, interactive quizzes. Feel free to reach out
						if you have any questions or feedback!
					</p>

					<h3 style="color: black;">Get in Touch</h3>
					<p style="color: black;">
						<span class="fw-bold">Email : nileshbakade8@gmail.com </span> <br>
						 Feedback & Suggestions We value your thoughts! If you have any
						feedback or suggestions to improve our quizzes or app features,
						please don’t hesitate to send us a message.
					</p>
				</div>
			</div>
		</div>
	</section>
</body>
</html>