<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
	<br><br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header text-center fs-4">Forget Password</div>
						<div class="card-body">
							<div th:if="${msg}">
								<h3 class="text-success text-center fs-5" th:text="${msg}"></h3>
							</div>
							<form th:action="@{/forget-password}" th:object="${user}"
								method="post">
								<div class="mb-3">
									<label for="email">Enter Your Email :</label> <input type="email"
										id="email" class="form-control" th:field="*{email}">
								</div>
								<div class="mb-3">
									<button class="btn btn-dark opacity-75 col-md-12">Send Email</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br><br><br>&nbsp;
	</section>
</body>
</html>