<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<br>
		<div class="row d-flex align-items-center">
			<div class="col-5">
			    <img src="/images/homeimg.png" style="height:380px; margin-left:5rem;">
			</div>
			<div class="col-6">
				<h1 style="color:lightblue; text-align:center">The Quizzica Adventure Begins Here!</h1>
				<p class="fs-6 text-center fw-bold">
				    <br>Embark on a fun and interactive journey where every quiz is an
					opportunity to learn something new. Are you ready to
					unlock your potential?
			    </p>
			</div>
		</div>
	</section>
</body>
</html>