<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
	<br><br><br>
	  <div class="container">
	    <div class="row">
	      <div class="col-md-6 offset-md-3">
	        <div class="card">
	          <div class="card-header text-center fs-4">
	            <div class="card-body">
	              <form action="/reset-password" method="post">
	                 <div class="mb-3">
	                   <input type="hidden" name="token" th:value="${token}">
	                 </div>
	                 <div class="mb-3">
	                   <label for="password">Enter New Password :</label>
	                   <input type="password" id="password" class="form-control" name="password">
	                 </div>
	                 <button class="btn btn-dark opacity-75 col-md-12">Create New Password</button>
	              </form>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <br><br><br><br><br><br>
	</section>
</body>
</html>